#navbarTile{
    color: #5552B9;
    font-weight: 600;
    padding-top: 2vh;
    padding: 1vh;
    text-decoration: none;
}
#popNavbarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    flex-wrap: wrap;
}
