@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');

#popupPageContainer{
    height: 90vh;
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: start;
    justify-content: start;
}
#popupPageContainer::-webkit-scrollbar{
    display: none;
}
#catalogue{
    width: 60%;
}
#details{
    width: 30%;
    padding: 3vh;
    border-radius: 20px;
}
#pageContent{
    display: flex;
    flex-wrap: wrap;
}
.cardNavbar{
    padding: 2vh;
    margin: 1vh;
    width: 15%;
    font-size: 2vh;
    color: #5552B9;
}
.title{
    font-weight: 600;
    font-size:small;
}
.dimension{
    font-size: small;
}
.shape{
    text-align: center;
    height: 10vh;
    border: 2px solid #5552B9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape:hover{
    background-color: #5552B9;
    color: #fff;
}

#closeBtnPopup{
    color: #5552B9;
    background-color: white;
    padding: 1vh;
    border: none;
    border-radius: 20px;
    outline: none;
    margin: 1vh;
}

#closeBtnPopup:hover{
    color: white;
    background-color: red;

}

@media screen and (max-width : 768px) {
    #popupPageContainer{
        position: absolute;
        left: 20%;
    }
    #details{
        width: 100%;
    }
}